 html, body {
	margin:0; 
	padding:0;
	height:100%;
 }
 
.row{
	height:100%;
} 
 
h3{
text-align:center;
}


/*Apresentação*/ 



#luanaImg{
	max-width:70%;
	min-width:70%;
	margin-top:5%;
}

#titulo:hover{
color:white;
text-decoration:none;
}

#hahaha{
margin-top:5%;
margin-bottom:10%;
}

#detalhes{
	color:white;
	margin-top:5%;
}


#home{
	height:auto;
	background-color:black;
	background: url(imgs/wallpaper.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

#fim{
	height:30%;
	background-color:#262626;

}



.imgss{
width:10%;

}


/*Formação/Experiencias/Skills*/
.container-fluid2{
	height:auto;
	background-color:;
	margin-top:2%;
}

#formacao{
	width:100%;
	background-color:;

}

#capImg{
	max-width:40%;

	margin-top:15%;
	float:right;
	
}

#jobs{
	width:100%;
	background-color:;
	
}


#suitImg{
	margin-top:30%;
	max-width:30%;
	min-width:30%;
	float:right;

}

.p{
border-left: 6px solid gray;
padding:0px 0px 0px 5px;
}

.pA{
background-color:;
border-left: 6px solid #FFCC00;
padding:0px 0px 0px 5px;
}


#c1{
	background-color:;
	width:100%;
}

#c0{
writing-mode: vertical-rl;
text-orientation: upright;

}



.sft{
	border-left: 6px solid gray;
	padding:0px 0px 0px 5px;
}




.imgs{
width:10%;

}

#c2{
	background-color:;
	width:100%;
}


ul{
 list-style-type: none;
}


.cir1 {
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #FFCC00;
	padding:0px 0px 0px 5px;
}

.cir2{
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #dbdcdd;
	padding:0px 0px 0px 5px;
}

/*Projetos/Hobbies/Formulário*/

.container-fluid3{
	height:auto;
	background-color:#dbdcdd;
	margin-top:2%;
}



#hobbies{
background-color:;
height:40%;
margin-top:5%;
margin-bottom:10%;
}


.hImgs{
width:30%;

}


#contato{
background-color:;
width:100%;
margin-top:5%;

}

#h{
text-decoration:none;
color:white;
}
#h:hover{
color:black;
text-decoration:none;
}

a{color:white;}


/**/

.container-fluid{
height:30%;
background-color: #262626;
}

